/* For the devices wihich screen size is less then 1400px */
@media (max-width: 1399.98px) {
}

/* For the devices wihich screen size is less then 1200px */
@media (max-width: 1199.98px) {
    .site-header .user-info .user-name {
        display: none;
    }
    .main-navigation,
    .main-navigation .menu {
        gap: 15px;
    }
    .site-header .container > * {
        gap: 20px;
    }
    .card .card-features a {
        padding: 0.5rem;
    }
    .card .card-features svg {
        max-width: 1.4rem;
    }
    /* Profile Responsive */
    .user-profile-container {
        flex-direction: column;
    }
    .user-profile-container .user-info-section {
        flex-direction: unset;
        gap: 50px;
    }
    .user-profile-container .user-info-container {
        width: 100%;
    }
    .user-info-container .user-image-section > img {
        transform: translateY(-20px);
    }
    .user-info-container .user-info-section {
        margin-bottom: unset;
    }
    .user-info-container .review-user {
        margin-bottom: 2em;
    }
    .user-profile-container .user-activity-section {
        border-left: unset;
    }
    .user-activity-section {
        width: auto;
    }
}
/* For the devices wihich screen size is less then 992px */
@media (max-width: 991.98px) {
    .site-brand img {
        display: block;
        max-width: 50px;
    }
    .site-brand .site-title-wrapper {
        display: none;
    }
    .trending .grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem 2rem;
    }
    .card-linear .card-img {
        align-self: flex-start;
        min-width: 280px;
        max-width: 280px;
    }
    .card-linear .card-img img {
        max-width: 280px;
        aspect-ratio: 280 / 180;
        object-fit: cover;
    }
    .card-linear .card-body {
        padding: 0 0 0 20px;
    }
    .card-linear .card-title,
    .card-linear .product-description {
        margin-bottom: 1rem;
    }
    .card-linear .price-and-availability {
        margin-bottom: 1.5rem;
    }
    .chat-item .chat-info {
        display: none;
    }
    .chat-container .chat-header .chat-item .chat-info {
        display: flex;
    }
    .chat-item img {
        max-width: 100%;
    }
    .chat-container .chat-header .chat-item img {
        max-width: 4rem;
    }
    .conv-item .conv-message {
        max-width: 75%;
    }
    th {
        display: none;
    }
    td {
        display: flex;
        justify-content: start;
        align-items: center;
    }
    td::before {
        display: inline-block;
        padding: 8px;
    }
}
/* For the devices which screen size is less then 768px */
@media (max-width: 767.98px) {
    .site-header {
        padding: 1rem 0;
    }
    .main-navigation {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0.8rem 2.5rem;
        justify-content: space-between;
        background-color: var(--color-light);
    }
    .main-navigation .dropdown-container .dropdown-content,
    .main-navigation .has-dropdown .dropdown-menu {
        bottom: 100%;
        top: unset;
    }
    .post-form .form-group.column-2 {
        grid-template-columns: 1fr;
    }
    .site-header .post-form {
        display: flex;
        flex-direction: column;
    }

    .trending .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    /* card linear */
    .card-linear {
        flex-direction: column;
    }
    .card-linear .card-img {
        width: 100%;
        max-width: 100%;
    }
    .card-linear .card-img img {
        max-width: 100%;
        width: 100%;
    }
    .card-linear .card-body {
        padding: 2rem 0 0;
    }

    .card-linear .location-and-time {
        flex-wrap: wrap;
    }
    .user-profile .container {
        margin: 0 auto;
    }
    .user-activity-section .user-save-list .grid,
    .user-activity-section .user-ad-posts .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .admin-menu-list a {
        justify-content: center;
    }
    .admin-menu-list .list-text {
        display: none;
    }
    .admin-menu-list .sub-menu {
        padding-left: 0;
    }
    .admin-menu-list .list-icon {
        width: 2rem;
    }
    .column-4 {
        grid-template-columns: repeat(2, 1fr);
    }
}
/* For the devices wihich screen size is less then 576px */
@media (max-width: 575.98px) {
    .trending .grid,
    .about-us .grid {
        grid-template-columns: 1fr;
    }
    .chat-user-list li .chat-link {
        padding: 0.5rem 0;
    }
    .chat-user-list li .chat-link:hover {
        background-color: transparent;
    }
    .user-profile .container {
        margin: 0 auto;
    }
    .user-activity-section .user-save-list .grid,
    .user-activity-section .user-ad-posts .grid,
    .column-4 {
        grid-template-columns: repeat(1, 1fr);
    }
}
