@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

/* 
  Reseting the browser global spacing
*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* 
  Setting the global css variables
*/
:root {
    --primary-font: Montserrat, sans-serif;
    --transition: all 0.3s ease-in-out;
    --fs-h1: 5rem;
    --fs-h2: 3rem;
    --fs-h3: 2.4rem;
    --fs-h4: 2rem;
    --fs-h5: 1.8rem;
    --fs-h6: 1.6rem;
    --fs-text: 1.6rem;
    --color-dark: #1b2021;
    --color-black: #000000;
    --color-light: #ffffff;
    --color-success: #4bb543;
    --color-error: #ff3333;
    --color-warning: #ffc107;
    --default-border-radius: 5px;
}

/* 
  Reseting the font size to 62.5% to make defautl font size base 10px
  so we can use 1rem = 10px
*/
html {
    font-size: 62.5%;
}

body {
    font-family: var(--primary-font);
    font-size: var(--fs-text);
    line-height: 1.5;
    font-weight: 400;
    color: var(--color-dark);
}

/* 
  Setting the heading font size and weights
*/

h1,
h2,
h3 {
    font-weight: 700;
}

h4,
h5,
h6 {
    font-weight: 600;
}

h1,
.h1 {
    font-size: var(--fs-h1);
}

h2,
.h2 {
    font-size: var(--fs-h2);
}

h3,
.h3 {
    font-size: var(--fs-h3);
}

h4,
.h4 {
    font-size: var(--fs-h4);
}

h5,
.h5 {
    font-size: var(--fs-h5);
}

h6,
.h6 {
    font-size: var(--fs-h6);
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: var(--color-text);
    text-decoration: none;
    transition: var(--transition);
    font-weight: 500;
}
a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    margin-bottom: 15px;
}
p:last-of-type {
    margin-bottom: 0;
}

label {
    display: inline-block;
    font-weight: 500;
    margin-bottom: 5px;
}
/* 
 * Components
 */
.btn {
    padding: 10px 20px;
    border: none;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    font-family: var(--primary-font);
    cursor: pointer;
}
.btn-dark {
    background-color: var(--color-dark);
    color: var(--color-light);
}
.btn-dark:hover,
.btn-dark:focus {
    background-color: var(--color-black);
}

.form-control {
    display: block;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0;
    padding: 10px 15px;
    font-size: var(--fs-text);
    -webkit-transition: var(--transition);
    transition: var(--transition);
}
.form-control:focus {
    border-color: var(--color-dark);
    outline: none;
}

/* 
 * Header
 */
.site-header {
    padding: 20px 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
}
.site-brand {
    display: inline-block;
    font-size: var(--fs-h2);
}
.main-navigation .menu {
    display: flex;
    gap: 30px;
}
.main-navigation {
    display: flex;
    align-items: center;
    gap: 30px;
}

.user-info {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}
.user-avatar .user-image {
    max-width: 40px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}
.user-avatar {
    position: relative;
    padding: 5px 0;
}
.user-avatar:hover .user-dropdown {
    opacity: 1;
    pointer-events: all;
}
.user-avatar .user-dropdown {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 10px 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: var(--default-border-radius);
    min-width: 150px;
    transition: var(--transition);
}
.user-avatar .user-dropdown a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: var(--default-border-radius);
}
.user-avatar .user-dropdown a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Home page styling */
.categories .category-title {
    margin-bottom: 20px;
}
.categories-list {
    display: flex;
    gap: 10px;
}
.categories-list a {
    padding: 10px 15px;
    border: 1px solid var(--color-dark);
    border-radius: var(--default-border-radius);
}
.categories-list a:hover {
    text-decoration: none;
    background-color: var(--color-dark);
    color: var(--color-light);
}

/* 
 * Card styles
 */
.card {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.card .card-img {
    border-radius: var(--default-border-radius);
    overflow: hidden;
}
.card .card-img img {
    transition: var(--transition);
}
.card .card-features {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 20px;
    right: -50px;
    transition: var(--transition);
}
.card .card-features svg,
.card .card-features img {
    max-width: 16px;
    height: auto;
}
.card .card-features a {
    display: flex;
    padding: 10px;
    border-radius: var(--default-border-radius);
    background-color: rgba(0, 0, 0, 0.1);
}
.card .card-features a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.card .card-img > a {
    display: grid;
}
.card .card-img a:hover img,
.card .card-img a:focus img {
    transform: scale(1.2);
}
.card:hover .card-features {
    right: 20px;
}

/* 
 * Site footer
 */
.site-footer {
    background-color: var(--color-black);
    color: var(--color-light);
}
.site-footer .site-brand {
    margin-bottom: 20px;
}
.copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}
