/* 
 * Header
 */
.site-header {
    background-color: var(--color-light);
    padding: 20px 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 999;
}
.site-brand {
    display: inline-block;
    font-size: var(--fs-h2);
}
.site-brand img {
    display: none;
}
.menu-toggler {
    display: none;
    padding: 4px;
    border-radius: var(--default-border-radius);
    border: 2px solid var(--color-black);
    transition: var(--transition);
}
.menu-toggler:hover {
    color: var(--color-light);
    background-color: var(--color-black);
}
.menu-toggler span {
    display: block;
    width: 25px;
    height: 2px;
    background-color: currentColor;
    margin: 6px;
}

.main-navigation .menu {
    display: flex;
    gap: 30px;
}
.main-navigation {
    display: flex;
    align-items: center;
    gap: 30px;
}
.main-navigation .btn-menu-close {
    display: none;
}

.user-info {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}
.user-info .user-image {
    max-width: 40px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

.user-info .user-detail {
    display: flex;
    flex-direction: column;
}

.user-info-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
}
.user-info-section .user-image-section {
    max-width: 150px;
    border-radius: 50%;
}
.user-info-section .user-detail-section {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: flex-start;
    justify-content: center;
}
.user-info-container .user-info-section {
    margin-bottom: 1em;
}
.user-info-container .rating-wrapper {
    display: flex;
    gap: 1.5em;
    margin-bottom: 1em;
}
.divider {
    border-left: 1px solid var(--color-border);
}
/*
* Search Result Section
*/
.search-result .search-title {
    border-bottom: 1px solid var(--color-border);
}
.result-list .card-linear {
    margin-top: 30px;
}

/* Notifications styles */
.notifications .notifications-menu {
    min-width: 300px;
}
.notifications .notification-icon {
    display: grid;
}

/* Search Bar Styles */
.search-bar {
    flex: 1;
    position: relative;
}
.search-bar [type="submit"] {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    height: 100%;
}
.search-bar svg {
    max-width: 1.6rem;
}
.search-bar .form-field {
    display: flex;
}
.search-bar .form-control {
    padding-right: 3.5rem;
}
.search-bar .screen-reader-text {
    display: none;
}

/* Home page styling */
.categories .category-title {
    margin-bottom: 20px;
}
.categories-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.categories-list a {
    display: block;
    padding: 10px 15px;
    border: 1px solid var(--color-dark);
    border-radius: var(--default-border-radius);
}
.categories-list a:hover {
    text-decoration: none;
    background-color: var(--color-dark);
    color: var(--color-light);
}

/* 
 * Card styles
 */
.card-linear {
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
}
.card {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.card .card-img {
    border-radius: var(--default-border-radius);
    overflow: hidden;
}
.card .card-img img {
    aspect-ratio: 400 / 250;
    object-fit: cover;
}
.card .card-img img,
.card-linear .card-img img {
    transition: var(--transition);
    width: 100%;
}
.card .card-features {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 20px;
    right: -50px;
    transition: var(--transition);
}
.card .card-features svg,
.card .card-features img,
.card-linear .card-features svg,
.card-linear .card-features img {
    max-width: 16px;
    height: auto;
}
.card .card-features a,
.card-linear .card-features a {
    display: flex;
    padding: 10px;
    border-radius: var(--default-border-radius);
    background-color: rgba(0, 0, 0, 0.1);
}
.card-linear .card-features a {
    background-color: transparent;
}
.card .card-features a:hover,
.card-linear .card-features a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.card .card-img > a {
    display: grid;
}
.card .card-img a:hover img,
.card .card-img a:focus img,
.card-linear .card-img a:hover img {
    transform: scale(1.2);
}
.card:hover .card-features {
    right: 20px;
}
.card .card-title a,
.card .price,
.card-linear .card-title a,
.card-linear .price {
    font-weight: 700;
}
.card-body .card-detail {
    display: flex;
    justify-content: space-between;
}
.card-detail .dropdown-menu {
    cursor: pointer;
}
.card-linear .card-img {
    overflow: hidden;
}
.card-linear .card-img a,
.card-linear .card-img img {
    display: block;
}
.team-card .card-img img {
    aspect-ratio: 750 / 950;
}
/* 
 * Site footer
 */
.site-footer {
    background-color: var(--color-black);
    color: var(--color-light);
}
.site-footer .site-brand {
    margin-bottom: 20px;
}
.copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

/* 
 * Single Page
 */
.post-detail .post-title {
    margin-bottom: 2rem;
}
.post-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    position: sticky;
    top: 11rem;
}
.post-gallery > *:first-child {
    grid-column: span 3;
}
.post-gallery img {
    aspect-ratio: 400 / 250;
    inline-size: 100%;
    object-fit: cover;
    border-radius: var(--default-border-radius);
}
.detail-list {
    list-style: none;
}
.detail-list li {
    display: flex;
}
.detail-list .detail-title {
    min-width: 200px;
    font-weight: 600;
}
.detail-list .detail-info {
    font-weight: 500;
}
.detail-list li {
    padding: 0 1rem;
}
.detail-list li:not(:last-child) {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--color-border);
}

/* 
 * comments
 */
.comment-list {
    margin-bottom: 2rem;
}
.comment-list li:not(:last-child) {
    margin-bottom: 2rem;
}
.comment-list li {
    display: grid;
    gap: 1rem;
}
.comment-list .sub-comment-list {
    margin-left: 4rem;
}
.comment-container {
    padding: 2rem;
    border-radius: var(--default-border-radius);
    background-color: rgba(0, 0, 0, 0.03);
}
.comment-meta {
    display: flex;
    gap: 1.5rem;
}

/* 
 * Comment form
 */
.comment-form {
    display: flex;
    gap: 1rem;
}
.comment-form .user-image {
    max-width: 40px;
    align-self: flex-start;
    flex-shrink: 1;
}
.comment-form button[type="submit"] {
    margin-top: 1rem;
}
.replying-to {
    border-radius: var(--default-border-radius);
    border: 1px solid var(--color-border);
    padding: 0.5rem 1.5rem;
    margin-bottom: 0.5rem;
    background: var(--color-dark);
    color: var(--color-light);
    display: none;
}
.replying-to.active {
    display: inline-block;
}
.replying-to .btn-close {
    margin-left: 0.5rem;
    display: inline-block;
    color: var(--color-light);
}
.location-list li {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.location-list .location-icon {
    max-width: 30px;
}
/* .user-profile {
    height: 100vh;
} */
.user-detail-section .location-icon {
    max-width: 20px;
}
.user-activities .tab-list {
    justify-content: space-around;
}

/* 
 * Review Tab Section Start
*/
.user-meta img {
    max-width: 40px;
}
.rating {
    display: inline-block;
    overflow: hidden;
    position: relative;
}
.review-items .review-response {
    font-size: 18px;
}
.rating .star-filled {
    position: absolute;
    overflow: hidden;
}
.rating > div {
    display: flex;
}
.rating div > * {
    flex-shrink: 0;
}
.review-card {
    max-width: 80%;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--color-border);
}
/* 
 * Review Tab Section End
*/

/* 
 * Chat Page
*/
.chat-user-list {
    display: flex;
    flex-flow: column;
}
.chat-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: var(--default-border-radius);
}
.chat-item .user-avatar {
    display: flex;
    position: relative;
}
.chat-item img {
    max-width: 5rem;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}
.chat-item .user-avatar .status {
    position: absolute;
    width: 1rem;
    height: 1rem;
    bottom: 5px;
    right: 5px;
    background-color: var(--color-warning);
    border-radius: 50%;
    border: 1px solid var(--color-black);
}
.chat-item .user-avatar .status.active {
    background-color: var(--color-success);
}
.chat-item .chat-info {
    display: flex;
    flex-flow: column;
}
.chat-item .chat-last-msg {
    font-weight: 400;
    font-size: 1.4rem;
}
.chat-item .user-name {
    font-weight: 500;
}
.chat-user-list li .chat-link {
    padding: 1rem;
}
.chat-user-list li .chat-link:hover {
    text-decoration: none;
    background-color: rgba(0 0 0 / 5%);
}

/* chat container */
.chat-container {
    display: flex;
    flex-direction: column;
}
.chat-container .chat-header {
    padding: 1.4rem 2rem;
    box-shadow: 0 10px 15px rgba(0 0 0 / 5%);
    border-radius: var(--default-border-radius);
}
.chat-container .chat-body {
    height: 50rem;
    overflow-y: scroll;
    padding: 3rem 2rem 0;
}

.chat-conversation {
    display: flex;
    flex-flow: column;
    gap: 1.4rem;
}
.conv-item {
    display: flex;
    gap: 1rem;
}
.conv-item .user-avatar img {
    max-width: 40px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}
.conv-item .conv-message {
    padding: 1rem;
    background-color: rgba(0 0 0 / 5%);
    border-radius: var(--default-border-radius);
    max-width: 60%;
}
.conv-item.my-side {
    justify-content: flex-end;
}

.chat-container .chat-footer {
    padding: 3rem 2rem 1rem;
}

.chat-form {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}
.chat-form textarea.form-control {
    height: 80px;
}
/* admin */
.admin-header {
    padding: 1rem 2rem;
}
.dashboard {
    display: flex;
    flex-flow: column;
}
.dashboard > * {
    flex: 1;
}
.admin-sidebar {
    color: var(--color-light);
}
.admin-menu-list li:not(:last-child) {
    margin-bottom: 1rem;
}
.admin-menu-list .sub-menu {
    margin-top: 1rem;
    padding-left: 3rem;
    margin-bottom: 1rem;
}
.admin-menu-list .sub-menu li:not(:last-child) {
    margin-bottom: 1rem;
}
.admin-menu-list .list-icon {
    width: 1.8rem;
    filter: invert(1);
    display: flex;
}
.admin-menu-list a {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}
.admin-menu-list .list-icon svg {
    width: inherit;
    height: auto;
}
.posts-list {
    display: flex;
    flex-flow: column;
    gap: 1rem;
}
.posts-list li {
    padding: 1.5rem;
    border-radius: var(--default-border-radius);
    border: 1px solid rgba(0 0 0 / 15%);
}
.posts-list .form-select {
    display: inline-block;
    width: unset;
    padding: 0.5rem 1rem;
}
.posts-list .btn-submit {
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
}
.user-review-form .star-filled {
    pointer-events: none;
    transition: var(--transition);
}

/* 
Admin Table CSS
*/
table{
    width: 100%;
}
table, th , td{
    /* display: table-cell; */
    border: 1px solid black;
    border-collapse: collapse;
    padding: 20px;
    text-align: center;
}
td::before{
    content: attr(data-label);
    display: none;
    font-weight: bold;
}