// Small devices
@mixin sm {
    @media (min-width: 576px) {
        @content;
    }
}

// Medium devices
@mixin md {
    @media (min-width: 768px) {
        @content;
    }
}

// Large devices
@mixin lg {
    @media (min-width: 992px) {
        @content;
    }
}

// Extra large devices
@mixin xl {
    @media (min-width: 1200px) {
        @content;
    }
}

// desktop devices
@mixin xxl {
    @media (min-width: 1400px) {
        @content;
    }
}

@mixin aspect-ratio($width, $height) {
    aspect-ratio: $width / $height;
    inline-size: 100%;
    object-fit: cover;
}

@mixin transition {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
