.btn {
    padding: 10px 20px;
    border: none;
    transition: var(--transition);
    font-family: var(--primary-font);
    cursor: pointer;

    &-dark {
        background-color: var(--color-dark);
        color: var(--color-light);

        &:hover,
        &:focus {
            background-color: var(--color-black);
        }
    }
}
