// form controls
.form-control {
    display: block;
    width: 100%;
    border: 1px solid rgba(0 0 0/ 20%);
    border-radius: 0;
    padding: 10px 15px;
    font-size: var(--fs-text);
    transition: var(--transition);

    &:focus {
        border-color: var(--color-dark);
        outline: none;
    }
}

// .login-form {
//     label {
//         mar
//     }
// }
