.container {
    padding: 0 1.5rem;
    margin: 0 auto;
}

@each $key, $value in $breakpoints {
    @media (min-width: #{$value}) {
        .container {
            max-width: #{$value};
        }
    }
}
