// spacing
@for $i from 1 to 6 {
    .gap-#{$i} {
        --gap: #{$i * 1}rem;
    }
    .p-#{$i} {
        padding: #{$i * 1}rem;
    }
    .py-#{$i} {
        padding: #{$i * 1}rem 0;
    }
    .px-#{$i} {
        padding: 0 #{$i * 1}rem;
    }
    .ps-#{$i} {
        padding-left: #{$i * 1}rem;
    }
    .pe-#{$i} {
        padding-right: #{$i * 1}rem;
    }
    .pb-#{$i} {
        padding-bottom: #{$i * 1}rem;
    }
    .pt-#{$i} {
        padding-top: #{$i * 1}rem;
    }
    .m-#{$i} {
        margin: #{$i * 1}rem;
    }
    .my-#{$i} {
        margin: #{$i * 1}rem 0;
    }
    .mx-#{$i} {
        margin: 0 #{$i * 1}rem;
    }
    .ms-#{$i} {
        margin-left: #{$i * 1}rem;
    }
    .me-#{$i} {
        margin-right: #{$i * 1}rem;
    }
    .mb-#{$i} {
        margin-bottom: #{$i * 1}rem;
    }
    .mt-#{$i} {
        margin-top: #{$i * 1}rem;
    }
}
