@import "./grid";
@import "./container";
@import "./spacing";

.flex {
    display: flex;
    gap: var(--gap);
}
.align-items-center {
    align-items: center;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-between {
    justify-content: space-between;
}
.text-center {
    text-align: center;
}
.fw-bold {
    font-weight: 900;
}
